* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content{
    padding: 1rem;
}

.pokemon{
    margin: 0;
    padding: 0;
    list-style: none;
}

ol.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.pokemon li{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #14A06f;
}

ol.pokemon li img{
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}